---
layout: default
---

<div class="home">

  {% include portfolio_grid.html %}
  <h1 class="page-heading">Latest posts</h1>
  <i>These posts are not filtered, if you want to see my games or my D&D5 campaigns, please use the links above!</i>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>
