<!-- Portfolio Grid Section -->
<h1>This eportfolio has been moved to <a href="https://dekadisk.github.io/">https://dekadisk.github.io</a>. This version is no longer maintained.</h1>
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      {% if post.categories[0] == "video_games" %}
      <div class="portfolio-flex-item portfolio-item">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
        <!--<a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">-->
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
